<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Liste des articles du blog</h1>
                <br>
                <% @articles.each do |article| %>
                    <h1><%= link_to "#{article.title}", article_path(article.id) %></h1>
                    <p><%= article.content %></p>
                <% end  %>

                <p><%= link_to "Créer un article", new_article_path, class: "btn btn-primary" %></p>
            </div>
        </div>
    </div>
</section>
