<% content_for :page_title, "Créer une article" %>
<section class="container">
	<div class="row">
		<div class="col-lg-12">
			<%= simple_form_for :article, url: articles_path, method: :post do |f|  %>

				<%= f.input :title, autofocus: true, label: "Titre"  %>

				<%= f.input :content, as: :text, label: "Contenue"  %>

				<%= f.button :submit, "Envoyer", class: "btn btn-primary" %>

			<% end %>
		</div>
	</div>
</section>