<footer class="container-fluid">
	<div class="container">
		<div class="row pt-5 pb-3">
			<div class="col-md-3 my-3 my-md-0">
				<h5 class="mb-3 text-uppercase font-weight-bold"><i class="fa fa-plus-square fa-lg" aria-hidden="true""></i> Dototché</h5>
				<p></p>
			</div>
			<div class="col-md-3 my-3 my-md-0">
				<h5 class="mb-3">A propos</h5>
				<ul class="nav flex-column">
					<li class="nav-item">
						<%= link_to 'Qui sommes-nous', page_path('about'), class: "nav-link pl-0 py-1 text-dark" %>
					</li>
					<li class="nav-item">
						<%= link_to 'Contacter-nous', page_path('about'), class: "nav-link pl-0 py-1 text-dark" %>
					</li>
					<li class="nav-item">
						<%= link_to "Blog", root_path, class: "nav-link pl-0 py-1 text-dark" %>
					</li>
					<li class="nav-item">
						<%= link_to "FAQ", root_path, class: "nav-link pl-0 py-1 text-dark" %>
					</li>
					<li class="nav-item">
						<%= link_to "Carrières", root_path, class: "nav-link pl-0 py-1 text-dark" %>
					</li>
				</ul>
			</div>
			<div class="col-md-3 my-3 my-md-0">
				<h5 class="mb-3">Liens utiles</h5>
				<ul class="nav flex-column">
					<li class="nav-item">
						<%= link_to "Rechercher par ville", root_path, class: "nav-link pl-0 py-1 text-dark" %>
					</li>
					<li class="nav-item">
						<%= link_to "Rechercher par spécialité", root_path, class: "nav-link pl-0 py-1 text-dark" %>
					</li>
					<li class="nav-item">
						<%= link_to "", root_path, class: "nav-link pl-0 py-1 text-dark" %>
					</li>
					<li class="nav-item">
						<%= link_to "", root_path, class: "nav-link pl-0 py-1 text-dark" %>
					</li>
					<li class="nav-item">
						<%= link_to "", root_path, class: "nav-link pl-0 py-1 text-dark" %>
					</li>
				</ul>
			</div>
			<div class="col-md-3 my-3 my-md-0">
				<h5 class="mb-3">Contact</h5>
				<address>
					<ul class="nav flex-column">
						<li class="nav-item">
							<a href="" class="nav-link pl-0 py-1 text-dark">
								<i class="fa fa-phone mr-1" aria-hidden="true"></i>
								<span>(229) 62 20 03 90</span>
							</a>
						</li>
						<li class="nav-item">
							<%= mail_to "francel.webdev@gmail.com", subject: "Demande d'information !", class: "nav-link pl-0 py-1 text-dark" do %>
								<i class="fa fa-envelope-o mr-1" aria-hidden="true"></i>
								<span>francel.webdev@gmail.com</span>
							<% end %>
						</li>
					</ul>
				</address>

				<h5 class="mb-3 my-3 my-md-0">Suivez-nous sur</h5>
				<ul class="nav">
					<li class="nav-item">
						<%= link_to "http://facebook.com", class: "nav-link pl-0 text-dark" do %>
							<i class="fa fa-facebook fa-lg mr-1" aria-hidden="true"></i>
						<% end %>
					</li>
					<li class="nav-item">
						<%= link_to "http://facebook.com", class: "nav-link pl-0 text-dark" do %>
							<i class="fa fa-twitter fa-lg mr-1" aria-hidden="true"></i>
						<% end %>
					</li>
				</ul>
			</div>
			<div class="col-12">
				<hr>
			</div>
			<div class="col-md-6">
				<ul class="nav">
					<li class="nav-item">
						<%= link_to page_path('contact'), class: "nav-link pl-0 text-dark" do %>
							<small>Conditions générales d'utilisation</small>
						<% end %>
					</li>
					<li class="nav-item">
						<%= link_to page_path('contact'), class: "nav-link pl-0 text-dark" do %>
							<small>Politique de confidentialité</small>
							<% end %>
					</li>
				</ul>
			</div>
			<div class="col-md-6 text-center text-md-right">
				<p class="text-dark text-md-right mt-2 mb-0"><small>&copy; 2017 - <%= Time.now.year %> Dototché. Tous droit réservé.</small></p>
			</div>
		</div>
	</div>
</footer>
