<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron jumbotron-fluid d-flex align-items-center mb-0 jumbotron-welcomes">
		<div class="container text-center">
				<h1 class="text-white">Finies les attentes interminables dans les hôpitaux</h1>
				<p class="lead text-white mb-4">Trouvez un médecin près de chez vous et prenez RDV en quelque clic !</p>
			 <div class="row">
						<div class="col-12">
								<%= simple_form_for :search, url: recherche_path, method: :get do |f| %>
									<div class="row px-1">
											<div class="col-md-5 px-0">
												<%= f.input :mot_cle, label: false, placeholder: "Nom d'un médecin, clinique ou spécialité", input_html: { class: 'form-control form-control-lg supri-bordu' } %>
											</div>
											<div class="col-md-5 px-0">
												<%= f.input :lieu, label: false, required: true, placeholder: "Nom de votre ville ou quartier", input_html: { class: 'form-control form-control-lg supri-bordu' } %>
											</div>
											<div class="col-md-2 px-0">
												<%= f.button :submit, "Rechercher", class: 'btn btn-primary btn-lg btn btn-block supri-bordu' %>
											</div>
									</div>
								<% end %>
						</div>

						<div class="col-12 text-center text-white sr-only">
							<p class="h1">Ou</p>
						</div>

						<div class="col-12 d-flex justify-content-center align-items-center sr-only">
								<ul class="nav nav-pills">
									<li class="nav-item">
										<a class="nav-link active" href="#">A proximité de moi</a>
									</li>
								</ul>
						</div>

			 </div>
		</div>
</div>
