<section class="container-fluid" style="background-color: #4D1CA7">
    <div class="container">
        <div class="row py-4">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center text-center">
                <h2 class="text-light font-weight-bold">A propos de nous</h2>
            </div>
        </div>
    </div>
</section>


<section class="container-fluid">
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-4 text-center">
                <img src="" alt="IMAGE">
            </div>

            <div class="col-lg-8">
                <h1>Nullam malesuada sapien</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a lacus luctus, tempor leo a, porta nunc. Nulla tincidunt vel ex ac consequat. Morbi sed consectetur dolor, id sollicitudin lacus. Aenean sit amet neque mattis, pretium tortor laoreet, finibus ligula. Donec quis augue non ante cursus aliquam. Donec sollicitudin mauris a vulputate euismod. Vestibulum molestie ligula ac volutpat pharetra. Praesent sit amet feugiat urna, eget tristique ipsum. Donec tincidunt lacus aliquet purus ultrices, ac tempor libero cursus. Morbi in congue est. Sed at dui elit. Aliquam dignissim eros sit amet placerat bibendum. Cras sit amet enim metus. </p>

                <br>

                <p>Vivamus ullamcorper aliquam tellus, in tristique nisl rutrum ut. Integer et enim purus. Phasellus et sagittis elit, ut porta velit. Fusce faucibus efficitur libero a imperdiet. Ut eget tristique tortor, nec aliquam leo. Aenean et massa ut magna pretium dapibus. Proin a cursus justo. </p>
            </div>



        </div>

        <div class="row py-5">
             <div class="col-lg-4 text-center">
            <%= icon('bullhorn', class: 'fa-5x mb-3') %>
            <h4 class="font-weight-bold">Déposer gratuitement votre annonce</h4>
            </div>
            <div class="col-lg-4 text-center">
                <%= icon('bullhorn', class: 'fa-5x mb-3') %>
                <h4 class="font-weight-bold">Déposer gratuitement votre annonce</h4>
            </div>
            <div class="col-lg-4 text-center">
                <%= icon('bullhorn', class: 'fa-5x mb-3') %>
                <h4 class="font-weight-bold">Déposer gratuitement votre annonce</h4>
            </div>
        </div>
    </div>
</section>


