// Place all the styles related to the doctors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Mon style

.jumbotron-les-avantages {
		height: 30vh !important;
    background-image: url(asset-path("anfal-shamsudeen-30302.jpg")) !important;
    background-size: cover;
}