// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Mon style du controlleur welcomes

.jumbotron-welcomes {
    height: 75vh !important;
    background-image: linear-gradient(rgba(70, 69, 63, 0.4)), linear-gradient(rgba(70, 69, 63, 0.4)), url(asset-path("stethoscope-2617701_1920.jpg")) !important;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.supri-bordu {
    border-radius: 0rem !important;
}

.au-survole {
    transition: all 0.5s ease-out;
}

.au-survole-ccm:hover {
    // box-shadow: 0 16px 20px 0 rgba(216, 216, 216, .75);
    box-shadow: rgba(121,121,121,.35) 1px 10px 20px;
}